{{#with purchase}}
    <ul class="nav nav-tabs">
        {{#each tabs}}
            <li class="nav-item">
                <a class="nav-link {{#if @first}} active {{/if}}" href="#">{{this}}</a>
            </li>
            {{/each}}
                </ul>
                    <div class="row my-4">
                        {{#with actionBlock}}
                            <div class="col-4">
                                {{#with input}}
                                    <input class="form-control" placeholder="{{placeholder}}">
                                {{/with}}
                            </div>
                            <div class="col-8">
                                
                            {{#each buttons}}
                                {{#if isSuccess includeZero=true}}
                                    <button type="button" class="btn btn-success">{{this.text}}</button>
                                        {{else}}
                                            {{#if isOutline includeZero=true}}
                                                <button type="button" class="btn btn-outline-success">{{this.text}}</button>
                                             {{else}}
                                                {{#if isDanger includeZero=true}}
                                                 <button type="button" class="btn btn-outline-danger">{{this.text}}</button>
                                                {{/if}}
                                            {{/if}}
                                        {{/if}}
                                {{/each}}
                            </div>
                        {{/with}}
                    </div>

                    <hr>

                    <div>
                        <div class="row">
                        {{#each itemList}}
                            
                            <div class="col-3">
                                    <p>{{number}}</p>
                                    <p><b>{{status}}</b></p>
                            </div>
                            
                            <div class="col-2">
                                {{#with amount}}
                                    <p>{{title}}:</p>
                                    <p><b>{{value}}</b></p>
                                {{/with}}
                            </div>

                            <div class="col-5 pb-2">
                                <div class="row">
                                {{#each images}}
                                <div class="col-4">
                                    <img  src="{{this}}">
                                    </div>
                                {{/each}}
                                </div>
                            </div>

                            <div class="col-2 mt-4">
                                {{#with button}}
                                    <a class="btn btn-primary" href="{{link}}">{{text}}</a>
                                {{/with}}
                            </div>
                            <hr>
                        {{/each}}
                        </div>
                    </div>
{{/with}}